
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
      nav a {
        color: blue;
        font-size: 3em;
        margin-left: 50px;
        text-decoration: none;
      }
    </style>
</head>
<body>
  <nav>
    <a href="/">FlaskApp</a>
    <a href="{{ url_for('template1') }}">Saved Locations</a>
  </nav>
  <hr>
  <div class="content">
    <form action="/cities" method="post">
      <label for="city">City</label>
      <input name="city_name" id="city" type="text">
      <button type="submit">submit</button>
    </form>
    {% block content %} {% endblock %}
  </div>
</body>
</html>
