{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Index  {% endblock %}</h1>
    <h1>Hello World!</h1>
    <h2>Welcome to my Flask Weather App</h2>
    <h3>These are the list of routes:</h3>
    {% if routes_data %}
    <ul>
        {% for key, value in routes_data.items() %}
            {% if key != 'message' %}
                <li>{{ value }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    <ul>
        {% for value in city_list %}
            <li>{{ value }}</li>
            {% endfor %}
    </ul>
{% endblock %}